<section class="Form my-4 mx-5 d-flex justify-content-center mat-typography">

    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-6 px-5 pt-5">
                <h1 class="font-weight-bold py-3" style="font-family: 'Eagle Lake', cursive; color:#e73c3c"><strong>Account Information</strong></h1>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>UserId</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.userId" id="userId" name="userId"
                        readonly required>
                </div>


                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Username</strong> &nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.username" id="username"
                        name="username" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Password</strong> &nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.password" id="password"
                        name="password" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Password</strong></span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.confirmPassword" id="confirmPassword"
                        name="confirmPassword" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>First Name</strong></span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.firstName" id="firstName"
                        name="firstName" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Last Name</strong></span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.lastName" id="lastName"
                        name="lastName" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Email</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.email" id="email" name="email"
                        readonly required>
                </div>


                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Hire Date</strong> &nbsp;&nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.hireDate" id="hireDate"
                        name="hireDate" readonly required>
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Role</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.role" id="role" name="role"
                        readonly required>

                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text my-2 p-3" id=""><strong>Salary($)</strong>
                            &nbsp;&nbsp;</span>
                    </div>
                    <input type="text" class="form-control my-2 p-3" [(ngModel)]="user.salary" id="salary" name="salary"
                        readonly required>

                </div>

                <div class="form-row">
                    <div class="col-lg-12">
                        <button type="button" class="btn1 mt-3 mb-5" (click)="onSelect(user)">Update</button>
                    </div>
                </div>



            </div>

            <div class="col-lg-6 px-5 pt-5">
                <app-update-profile [user]="selectedUser"></app-update-profile>
            </div>
        </div>

    </div>

</section>